@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

@componentName: split;

.@{prefix}-@{componentName} {
  .reset;

  display: flex;
  width: 100%;
  height: 100%;

  & &__dragger {
    width: 7px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    border-left: 1px solid rgb(237, 237, 237);
    margin-left: -1px;
    cursor: col-resize;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba(0, 0, 0, 15%);
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
    }

    &::before {
      margin-left: -2px;
    }

    &::after {
      margin-left: 1px;
    }
  }

  & &__item {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 242, 242);
    transition: all .2s ease-out;
  }
}
